body {
	background-color: black;
}
.gamesList, .harbor{
	margin-top: 10px;
	margin-right: 50px;
	float: left;
	width: 220px;
	background: grey;
	font-weight: bold;
}
.gameListItem{
	background: lightgrey;
}
button{
	margin-top: 3px;
	margin-left: 6px;
	margin-bottom: 3px;
	margin-right: 6px;
	font-weight: bold;
}
.board{
	width: 500px;
	height: 500px;
	float: left;
}
.selected{
	color: red;
}
.square{
	width: 47px;
	height: 47px;
	margin-top: 3px;
	margin-left: 3px;
	background: darkgray;
	float: left;
}
.isShot{
	background: grey;
}
.hasShip{
	background: red;
}
.currentGame{
	color: black;
}